@import 'title';
@import 'about';
@import 'works';
@import 'team';
@import 'reviews';
@import 'application';
@import 'footer';


$scandi-font-color:#533738;
$button-color:#CC8B86;

@font-face {
    font-family: Montserrat;
    src: url(../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    font-family: Montserrat;
    color: $scandi-font-color;
    font-weight: 400;
    line-height: 167%;
    margin: 0;
}