.about 
    .about-description
        h.about-description__header О НАС
        .about-description__image 
        p.about-description__text  Премиальный европейский текстиль — одно из самых 
            |главных направлений работы коллектива. 
            |Создавать неповторимые интерьеры для наших дорогих 
            |клиентов, уделяя внимание мельчайшим деталям — 
            |вот то,  что по-настоящему вдохновляет дизайнеров нашей студии.
            <br/><br/>
            |Наш коллектив сделает все, чтобы после 
            |сотрудничества с нами,  Вам было приятно сказать:
            |«Да! Это именно то, что действительно достойно моего дома!»
    .about-statistics 
        p <span>5</span><br/>лет опыта
        p <span>100</span><br/>проектов
        p <span>10</span><br/>наград


