doctype html 
html
head 
    style
        include ../../dist/style.css
    meta(charset utf-8)
title SCANDI
body
    include title.pug
    include about.pug
    include works.pug 
    include team.pug
    include reviews.pug
    include application.pug
    include footer.pug