.team-container 
    .team
        h.team__header команда
        .team-employees
            .employee 
                img(src='../../images/employee-3.jpg' alt='lala')
                p.team-employee__description Это Маша, наш главный дизайнер. Она отвечает за дизайн-проект, 
                |приезжает к вам домой, общается и помогает сделать вашу квартиру красивой и уютной.
            .employee
                img(src='../../images/employee-2.jpg' alt='')
                p.team-employee__description С нашим менеджером Сашей вы познакомитесь в первую очередь. 
                |Она проконсультирует вас, соберёт все документы и ответит на все вопросы.
            .employee
                img(src='../../images/employee-1.jpg' alt='')
                p.team-employee__description Катя тоже занимается дизайном. Она всегда находит общий язык с клиентами 
                |и точно знает, как обустроить дом так, чтобы вам понравилось.

    .how-we-work 
        h.how-we-work__header как мы работаем
        .stages
            .stage 
                .label 1
                p.stage__description Знакомимся, выезжаемна объект, утверждаем 
                |концепцию, подписываем договор.
            .stage
                .label 2
                p.stage__description Подбираем мебель, текстиль, 
                |аксессуары. Делаем 3D-визуализацию.
            .stage
                .label 3
                p.stage__description Находим нужные магазины, помогаем 
                |с доставкой и оплатой товаров.
            .stage
                .label 4
                p.stage__description Воплощаем проект в жизнь: расставляем мебель 
                |и цветы, вешаем шторы, находим места для мелочей