.title 
    .title-content 
        .title-menu 
            .title-menu.logo
                img(src="../../images/logo.svg" alt="")
                p SCANDI
            ul.title-menu.title-menu__navigation 
                li О компании
                li Портфолио
                li Команда
                li Как мы работаем
                li Отзывы клиентов
                li Оставить заявку
            p +7 (981) 957-46-24
        .title-description
            h.title-description__header Поможем сделать вашу квартиру уютнее
            p.title-description__text Подбираем текстиль, мебель и аксессуары под ваш интерьер, находим магазины и помогаем организовать доставку
            p.title-description__button Оставить заявку