.works 
    .works-gallery
        h.works-gallery__header Наши работы
        .gallery-description
            h.gallery-description__header Квартира-студия<br/>30 кв.м.
            p.gallery-description__text В квартире были светлые стены и тёплые цвета. 
                |Мы сконцентрировались на отсылках к природе и 
                |сделали ребятам уютный интерьер, отсылающий к виллам островов Бали.
        #image1 
        #image2 
        #image3
    .works-footer 
        p Смотреть еще
        img(src="../../images/works-arrow.svg" alt="") 